div{
    height: 80px;
    width: 80px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1 {
    position: static;
}

#box2 {
    position: relative;
    top: 20px;
    left: 25px;
    z-index: 1;
}

#box3 {
    position: absolute;
    top: 500px;
    left: 20px;
}

#box4 {
    position: fixed;
    top: 50px;
    z-index: -5;
}