/* * {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    height: 50px;
    background-color: black;
    border: red solid 2px;
   
}

button {
    background-color: #f08804;
}

a {
    margin-right: 80px;
    text-decoration: none;
}

#logo {
    color: #f08804;
    font-size: 25px;
} */