/* * {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    height: 50px;
    background-color: black;
    border: red solid 2px;
   
}

button {
    background-color: #f08804;
}

a {
    margin-right: 150px;
    text-decoration: none;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

#content {
    height: 550px;
}
.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

footer {
    background-color: #0f1111;
    color: white;
    text-align: center;
} */

/* #box1 {
    height: 100px;
    width: 100px;
    background-color: green;
}

#box2 {
    height: 50px;
    width: 50%;
    margin-left: 10%;
    background-color: yellow ;
} */


/* Position background */

div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}