/* .navbar_container{
    position: fixed;
    background-color: aqua;
}
.navbar{
    /* height: 20px;
    width: 100px; */
    /* background-color: bisque;
    border: 2px solid gold;
    display: flex;
    justify-content: space-evenly; */
    
    /* display: inline-block; */
    /* flex-direction: row;
    justify-content: flex-start; */
    /* align-items: ; */
    

/* } */
/* .span{ */
    /* background-color: green; */
    /* display: block; */
/* }
li{ */
    /* display: inline-block; */
    /* list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;

} */ 


/* .left-corner{
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: olive;
    /* position: fixed; */
/* }

.right-corner{
    height: 600px;
    width: 300px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: olive;

} */

nav {
    height: 50px;
    font-size: 25px;
    display: flex;
    background-color: yellowgreen;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */

}

a{
    text-decoration: none;
    color: peru;
    /* background-color: rosybrown; */

}

.container{
    display: flex;
    justify-content: space-between;
    
}


.box1{
    height: 600px;
    width: 300px;
    background-color: olivedrab;
    align-items: center;
    /* align-content: center; */
    /* align-self: center; */
}

.box2{
    border: 2px solid black;
    width: 730px;
    justify-content: center;
}
.box3{
    height: 600px;
    width: 300px;
    background-color: olivedrab;

}

.inner-box{
    height: 200px;
    width: 400px;
    background-color: darkkhaki;
    margin: 4px;

}