body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 500px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.gender {
    display: flex;
    gap: 20px;
}

button {
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

th {
    background: #ddd;
}
